.news-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.news-list__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.news-list__item-pic{
    width: 320px;
    min-width: 320px;
    height: auto;
}

.news-list__item-pic img{
    width: 100%;
    height: 100%;
}

.news-list__item-content{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.news-list__item-title{
    margin-top: 0;
    margin-bottom: 5px;
}

.news-list__item-date{
    margin-bottom: 15px;
    color: #626469;
}

.news-list__item-descr{
    margin-top: 0;
    margin-bottom: 15px;
}

.news-list__item-author{
    margin-bottom: 10px;
}

.news-list__item-link{}


/*#42B4E6 - blue*/